.heading-style {
  background-image: image('./images/Profile.jpg');
  background-size: cover;
  position: relative;
}

.heading-style img.heading-image {
  position: absolute;
  top: 0;
  left: 0;
}

.text-shadow {
  text-shadow:  1px 1px #000000;
}
